@page "/"
@using Microsoft.EntityFrameworkCore
@using MyPlanner.Data

<PageTitle>To Do List</PageTitle>
@inject IDbContextFactory<TodoDataContext> TodoDataContextFactory;
<div class="allcontent-wrapper">

    @if (@ShowCreate)
    {
        <section class="todo-form-wrapper">
            <h3 id="h3-form-todo">Lägg till ny to do</h3>
            <div class="row">
                <label for="Title" class="col-4 col-form-label">Titel</label>
                <div class="col-8">
                    <!--Binder ihop input med objektet som skapas-->
                    <input id="Title" name="Title" type="text" class="form-control" @bind="@NewTodo.Title">
                </div>
            </div>

            <div class="row">
                <label for="Description" class="col-4 col-form-label">Beskrivning</label>
                <div class="col-8">
                    <input id="Description" name="Description" type="text" class="form-control" @bind="@NewTodo.Description">
                </div>
            </div>

            <div class="row">
                <label for="Category" class="col-4 col-form-label">Kategori</label>
                <div class="col-8">
                    <select @bind="@NewTodo.Category">
                        <option value="Arbete">Arbete</option>
                        <option value="Hem">Hem</option>
                        <option value="Hobby">Hobby</option>
                        <option value="Personlig">Personlig</option>
                        <option value="Studier">Studier</option>
                        <option value="Annat">Annat</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <label for="Priority" class="col-4 col-form-label">Prioritet 1-3</label>
                <div class="col-8">
                    <select @bind="@NewTodo.Priority">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <label for="DueDate" class="col-4 col-form-label">Deadline</label>
                <div class="col-8">
                    <input id="DueDate" name="DueDate" type="datetime-local" class="form-control" @bind="@NewTodo.DueDate">
                </div>
            </div>

            <div class="form-group row">
                <div class="btn-form">
                    <!--On-click på lägg till knapp, för att kalla på method-->
                    <button name="button" type="button" class="btn btn-primary" @onclick="CreateNewTodo">Lägg till</button>
                    <button name="cancel" type="button" class="btn btn-secondary" @onclick="CancelForm">Ångra</button>
                </div>
            </div>
        </section>
    }
    else
    {
        <div class="form-group row">

            <button name="button" type="button" class="btn btn-primary btn-add-form" @onclick="ShowCreateForm">Lägg till ny To do</button>

        </div>

        @if (@ReadTodoList is not null && ReadTodoList.Count > 0)
        {
            <div class="table-responsive">


                @foreach (var todo in @ReadTodoList)
                    @if (!EditRecord)
                    {
                        <div class="article-container">

                            @if (todo.Priority == 1)
                            {
                                <p class="priority-number-notis" style="background-color: red;">@todo.Priority</p>
                            }
                            else if (todo.Priority == 2)
                            {
                                <p class="priority-number-notis" style="background-color: orange;">@todo.Priority</p>
                            }
                            else
                            {
                                <p class="priority-number-notis" style="background-color: green;">@todo.Priority</p>
                            }

                            <article class="todo-article">
                                <h2>@todo.Title</h2>
                                <p>@todo.Description</p>
                                <p>@todo.Category</p>
                                <p>@todo.DueDate</p>
                                <div class="btn-todo-post-wrap">
                                    <button name="button" type="button" class="btn btn-primary" @onclick="() => ShowEditTodoForm(todo)">Ändra</button>
                                    <button name="button" type="button" class="btn btn-secondary" @onclick="() => DeleteTodoPost(todo)">Radera</button>
                                </div>
                            </article>
                        </div>

                    }
                    else
                    {
                        if (@TodoToUpdate is not null && @TodoToUpdate.Id == @todo.Id)
                        {
                            <article class="todo-article">
                                <label for="Title" class="col-4 form-label">Titel</label>
                                <h2><input id="Title" name="Title" type="text" class="form-control" @bind="@TodoToUpdate.Title" /></h2>
                                <label for="description" class="col-4 form-label">Beskrivning</label>
                                <p><input id="Description" name="Description" type="text" class="form-control" @bind="@TodoToUpdate.Description" /></p>
                                <p>
                                    <select @bind="@TodoToUpdate.Category">
                                        <option value="Arbete">Arbete</option>
                                        <option value="Hem">Hem</option>
                                        <option value="Hobby">Hobby</option>
                                        <option value="Personlig">Personlig</option>
                                        <option value="Studier">Studier</option>
                                        <option value="Annat">Annat</option>
                                    </select>
                                </p>
                                <p>
                                    <select @bind="@TodoToUpdate.Priority">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                </p>

                                <p>
                                    <input id="DueDate" name="DueDate" type="datetime-local" class="form-control" @bind="@TodoToUpdate.DueDate">
                                </p>

                                <div class="btn-todo-post-wrap">
                                    <button name="button" type="button" class="btn btn-primary" @onclick="@TodoUpdate">Spara</button>
                                    <button name="button" type="button" class="btn btn-secondary" @onclick="CloseEditForm">Ångra</button>
                                </div>
                            </article>

                        }
                        else
                        {
                            <article class="todo-article">
                                <h2>@todo.Title</h2>
                                <p>@todo.Description</p>
                                <p>@todo.Category</p>
                                <p>@todo.Priority</p>
                                <p>@todo.DueDate</p>
                                <div class="btn-todo-post-wrap">
                                    <button name="button" type="button" class="btn btn-primary" @onclick="() => ShowEditTodoForm(todo)">Ändra</button>
                                    <button name="button" type="button" class="btn btn-secondary" @onclick="() => DeleteTodoPost(todo)">Radera</button>
                                </div>
                            </article>

                        }
                    }
            </div>
        }

    }
</div>


